@import "../../css/colors.css";

.modal-content {
    width: 360px;
}

.body {
    background: $ui-modal-background;
    padding: 1.5rem 2.25rem;
}

.message {
    color: $text-primary;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.button-row {
    font-weight: bolder;
    text-align: right;
}

.button-row button {
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
    background: $input-background;
    color: $text-primary;
    border: 1px solid $ui-black-transparent;
    font-weight: 600;
    font-size: 0.85rem;
}

.button-row button.ok-button {
    background: $looks-secondary;
    border-color: $looks-secondary;
    color: white;
}

[dir="ltr"] .button-row button + button {
    margin-left: 0.5rem;
}

[dir="rtl"] .button-row button + button {
    margin-right: 0.5rem;
}
